@charset "UTF-8";
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IgraSans;
  font-display: swap;
  src: url("../fonts/IgraSans.woff2") format("woff2"), url("../fonts/IgraSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --main-text-color: #19252C;
  --accent-color: #FAD018;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-text-color);
  line-height: 1.5;
  font-family: "ProximaNova";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 20em) and (max-width: 62em) {
  body {
    font-size: clamp( 1rem , 0.7619047619rem  +  1.1904761905vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 61.99875em) {
  body {
    font-size: 1.5rem;
  }
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.3125rem 0.625rem;
  color: #38434A;
  min-width: 100%;
  background-color: var(--accent-color);
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
@media (min-width: 29.99875em) {
  .button {
    min-width: 19.6875rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }
}
.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-family: "IgraSans";
  font-weight: 400;
}

h1 {
  line-height: 1.22;
}
@media (min-width: 20em) and (max-width: 62em) {
  h1 {
    font-size: clamp( 2.1875rem , 0.3125rem  +  9.375vw , 6.125rem );
  }
}
@media (max-width: 20em) {
  h1 {
    font-size: 2.1875rem;
  }
}
@media (min-width: 61.99875em) {
  h1 {
    font-size: 6.125rem;
  }
}

h2 {
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 20em) and (max-width: 62em) {
  h2 {
    font-size: clamp( 1.625rem , 1.1488095238rem  +  2.380952381vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  h2 {
    font-size: 1.625rem;
  }
}
@media (min-width: 61.99875em) {
  h2 {
    font-size: 2.625rem;
  }
}

.header {
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.25rem;
}
.header__logo img {
  width: 9.375rem;
  height: 8.03rem;
  position: relative;
  z-index: 101;
}
@media (min-width: 82.5em) {
  .header__logo img {
    width: 15.6875rem;
    height: 13.4375rem;
  }
}
.menu {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 1.2380952381;
  color: #ffffff;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    transform: translateX(100%);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7490196078);
    row-gap: 1.25rem;
    transition: all 0.3s ease 0s;
  }
}
.menu-open .menu__list {
  transform: translateX(0);
}
@media (min-width: 61.99875em) {
  .menu__list {
    flex-wrap: wrap;
    column-gap: 1.875rem;
    row-gap: 1.25rem;
  }
}
@media (min-width: 82.5em) {
  .menu__list {
    column-gap: 4.375rem;
  }
}
.menu__link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    margin-right: -0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 101;
  }
  .icon-menu__burger span, .icon-menu__burger::before, .icon-menu__burger::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .icon-menu__burger::before {
    top: 0px;
  }
  .icon-menu__burger::after {
    bottom: 0px;
  }
  .icon-menu__burger span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu__burger span {
    transform: scale(0);
  }
  .menu-open .icon-menu__burger::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu__burger::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__wrapper {
  max-width: 109.875rem;
  margin: 0 auto;
}
.footer__body {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: #F7F5EB;
}
@media (min-width: 61.99875em) {
  .footer__body {
    padding-top: 3.625rem;
    padding-bottom: 3.6875rem;
  }
}
.footer__title {
  margin-bottom: 1.25rem;
}
@media (min-width: 61.99875em) {
  .footer__title {
    margin-bottom: 2.8125rem;
  }
}
.footer__contacts {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.5625rem;
}
@media (min-width: 47.99875em) {
  .footer__contacts {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3.125rem;
    column-gap: 1.9375rem;
  }
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.375rem;
}
.footer__socials {
  display: flex;
  column-gap: 1.375rem;
}
.footer__social-link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__social-link:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.3125rem rgba(0, 0, 0, 0.3));
  }
}
.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 47.99875em) {
  .contacts-item {
    align-items: flex-start;
    text-align: left;
  }
}
.contacts-item__image {
  width: 5.6875rem;
  height: 5.6875rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.375rem;
}
.contacts-item__title {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  margin-bottom: 0.625rem;
}
.contacts-item__content {
  line-height: 1.21;
}
.contacts-item a {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contacts-item a:hover {
    opacity: 0.7;
  }
}

.main-block {
  padding-top: 14.0625rem;
  padding-bottom: 3.125rem;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: top center;
  min-height: 25rem;
  height: 100vh;
}
@media (min-width: 47.99875em) {
  .main-block {
    min-height: 35.625rem;
  }
}
@media (min-width: 82.5em) {
  .main-block {
    min-height: 41.875rem;
  }
}
.main-block__container {
  height: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.main-block__title {
  position: relative;
  max-width: 51.3125rem;
}
@media (min-width: 82.5em) {
  .main-block__title {
    margin-top: 2.5625rem;
  }
}
.main-block__title::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -13%;
  background-image: url("../img/title.svg");
  background-size: cover;
  transform: rotate(11.23deg);
}
@media (min-width: 20em) and (max-width: 62em) {
  .main-block__title::before {
    width: clamp( 23.4375rem , 9.5982142857rem  +  69.1964285714vw , 52.5rem );
  }
}
@media (max-width: 20em) {
  .main-block__title::before {
    width: 23.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .main-block__title::before {
    height: clamp( 5.625rem , 2.380952381rem  +  16.2202380952vw , 12.4375rem );
  }
}
@media (max-width: 20em) {
  .main-block__title::before {
    height: 5.625rem;
  }
}
@media (min-width: 61.99875em) {
  .main-block__title::before {
    width: 52.5rem;
    height: 12.4375rem;
  }
}

.creative-village {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 61.99875em) {
  .creative-village {
    padding-top: 8.9375rem;
    padding-bottom: 8.9375rem;
  }
}
@media (min-width: 110em) {
  .creative-village__container {
    max-width: 93.75rem;
    transform: translateX(6.5625rem);
  }
}
@media (min-width: 61.99875em) {
  .creative-village__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.25rem;
  }
}
.creative-village__body {
  margin-bottom: 2.5rem;
}
@media (min-width: 61.99875em) {
  .creative-village__body {
    margin-bottom: 0;
    margin-top: -3.125rem;
  }
}
@media (min-width: 82.5em) {
  .creative-village__body {
    flex: 0 0 35%;
  }
}
.creative-village__title {
  margin-bottom: 2.125rem;
}
.creative-village__image {
  margin: 0 -0.9375rem;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (min-width: 61.99875em) {
  .creative-village__image {
    margin: 0;
    flex: 0 0 52.4193548387%;
  }
}
@media (min-width: 82.5em) {
  .creative-village__image {
    flex: 0 0 57.7333333333%;
  }
}
.creative-village__image::before {
  content: "";
  position: absolute;
  background-image: url("../img/water-solo-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 35.2193995381%;
  height: 100%;
  right: -7%;
  top: 0;
}
.creative-village__image img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 82.5em) {
  .creative-village__image img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

.carousel {
  padding-bottom: 3.125rem;
}
@media (min-width: 61.99875em) {
  .carousel {
    padding-bottom: 5.9375rem;
  }
}
.carousel__container {
  position: relative;
}
@media (min-width: 120em) {
  .carousel__container {
    height: 48.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .carousel__container {
    height: clamp( 15rem , 8.3rem  +  33.5vw , 48.5rem );
  }
}
@media (max-width: 20em) {
  .carousel__container {
    height: 15rem;
  }
}
@media (min-width: 82.5em) {
  .carousel__container {
    max-width: 105.375rem;
  }
}
.carousel__slider {
  margin: 0 auto;
}
@media (min-width: 120em) {
  .carousel__slider {
    width: 80.625rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .carousel__slider {
    width: clamp( 18.125rem , 5.625rem  +  62.5vw , 80.625rem );
  }
}
@media (max-width: 20em) {
  .carousel__slider {
    width: 18.125rem;
  }
}
.carousel__swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}
.carousel__swiper .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 120em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    width: 60.375rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    width: clamp( 15.625rem , 6.675rem  +  44.75vw , 60.375rem );
  }
}
@media (max-width: 20em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    width: 15.625rem;
  }
}
@media (min-width: 120em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    height: 36.25rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    height: clamp( 12.5rem , 7.75rem  +  23.75vw , 36.25rem );
  }
}
@media (max-width: 20em) {
  .carousel__swiper .swiper-slide-next,
  .carousel__swiper .swiper-slide-prev {
    height: 12.5rem;
  }
}
@media (min-width: 120em) {
  .carousel__swiper .swiper-slide-active {
    height: 48.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .carousel__swiper .swiper-slide-active {
    height: clamp( 15rem , 8.3rem  +  33.5vw , 48.5rem );
  }
}
@media (max-width: 20em) {
  .carousel__swiper .swiper-slide-active {
    height: 15rem;
  }
}
.carousel__slide {
  overflow: hidden;
}
.carousel__slide img {
  width: 100%;
}
.carousel__navigation {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 0.3125rem;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  column-gap: 3.125rem;
}
@media (min-width: 29.99875em) {
  .carousel__navigation {
    padding: 0 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .carousel__navigation {
    padding: 0 2.5rem;
  }
}
@media (min-width: 61.99875em) {
  .carousel__navigation {
    padding: 0 4.375rem;
  }
}
@media (min-width: 82.5em) {
  .carousel__navigation {
    padding: 0 6.4375rem;
  }
}
.carousel__btn {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 47.99875em) {
  .carousel__btn {
    width: 4.5625rem;
    height: 4.5625rem;
  }
}
@media (min-width: 61.99875em) {
  .carousel__btn {
    border: 0;
  }
}
.carousel__btn img {
  width: 0.625rem;
}
@media (min-width: 47.99875em) {
  .carousel__btn img {
    width: 1.0625rem;
  }
}
.carousel__btn_next {
  transform: rotate(180deg);
}
.carousel__btn.swiper-button-disabled {
  background-color: #c5c5c5;
  opacity: 0.5;
  pointer-events: none;
}

.map {
  padding-bottom: 2.5rem;
}
@media (min-width: 61.99875em) {
  .map {
    padding-bottom: 11.5625rem;
  }
}
.map__title {
  margin-bottom: 1.8125rem;
}
.map__body {
  max-width: 120rem;
  margin: 0 auto;
}
.map__image {
  width: 100%;
}
.map__grid {
  padding: 0 0.625rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, 13.88101983%);
}
@media (min-width: 120em) {
  .map__grid {
    padding-left: 5.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .map__grid {
    padding-left: clamp( 0.625rem , -0.2875rem  +  4.5625vw , 5.1875rem );
  }
}
@media (max-width: 20em) {
  .map__grid {
    padding-left: 0.625rem;
  }
}
@media (min-width: 120em) {
  .map__grid {
    padding-right: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .map__grid {
    padding-right: clamp( 0.625rem , -0.15rem  +  3.875vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .map__grid {
    padding-right: 0.625rem;
  }
}
@media (min-width: 61.99875em) {
  .map__grid {
    padding-top: 0.9375rem;
  }
}
.map__grid-item {
  text-align: center;
  line-height: 1.23;
}
@media (min-width: 120em) {
  .map__grid-item {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .map__grid-item {
    font-size: clamp( 0.5rem , 0.275rem  +  1.125vw , 1.625rem );
  }
}
@media (max-width: 20em) {
  .map__grid-item {
    font-size: 0.5rem;
  }
}

.monument {
  padding-bottom: 3.125rem;
}
@media (min-width: 61.99875em) {
  .monument {
    padding-bottom: 9.875rem;
  }
}
@media (min-width: 110em) {
  .monument__container {
    max-width: 95.125rem;
    position: relative;
    transform: translateX(-7.25rem);
  }
}
@media (min-width: 61.99875em) {
  .monument__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.25rem;
  }
}
.monument__image {
  margin: 0 -0.9375rem;
  position: relative;
}
.monument__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.monument__image::after {
  content: "";
  position: absolute;
  background-image: url("../img/water-solo-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 36.2586605081%;
  height: 100%;
  left: 0;
  top: 6.7%;
}
@media (min-width: 61.99875em) {
  .monument__image {
    margin: 0;
    flex: 0 0 52.4193548387%;
  }
}
@media (min-width: 82.5em) {
  .monument__image {
    flex: 0 0 56.936226167%;
  }
}
.monument__image img {
  width: 100%;
}
.monument__body {
  margin-top: 2.5rem;
}
@media (min-width: 82.5em) {
  .monument__body {
    margin-top: -2.1875rem;
    flex: 0 0 34.188034188%;
  }
}
.monument__title {
  margin-bottom: 2.5625rem;
}
.chronology {
  background-color: #000000;
}
.chronology__container {
  max-width: 120rem;
  padding: 0;
}
.tabs {
  padding: 10rem 0 2.8125rem;
  background-image: url("../img/tabs.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
  position: relative;
}
@media (min-width: 61.99875em) {
  .tabs {
    padding: 1.25rem 0 4.6875rem;
    min-height: 100vh;
    row-gap: 7.5rem;
  }
}
.tabs::before {
  content: "";
  position: absolute;
  background-image: url("../img/water-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 1.25rem;
  right: 1.875rem;
}
@media (min-width: 120em) {
  .tabs::before {
    width: 26.375rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .tabs::before {
    width: clamp( 9.4375rem , 6.05rem  +  16.9375vw , 26.375rem );
  }
}
@media (max-width: 20em) {
  .tabs::before {
    width: 9.4375rem;
  }
}
@media (min-width: 120em) {
  .tabs::before {
    height: 16.905rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .tabs::before {
    height: clamp( 6.4375rem , 4.344rem  +  10.4675vw , 16.905rem );
  }
}
@media (max-width: 20em) {
  .tabs::before {
    height: 6.4375rem;
  }
}
.tabs__content {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-end;
}
.tabs__body {
  padding: 0 0.9375rem;
}
@media (min-width: 82.5em) {
  .tabs__body {
    position: relative;
    left: 50%;
    transform: translateX(-41.25rem);
  }
}
.tabs__title {
  margin-bottom: 1.125rem;
}
.tabs__text {
  max-width: 36.9375rem;
  font-weight: 300;
}
.tabs__navigation {
  padding: 0 0.625rem;
  display: flex;
  justify-content: space-around;
  position: relative;
}
@media (min-width: 82.5em) {
  .tabs__navigation {
    padding: 0 15.3125rem 0 8.9375rem;
  }
}
.tabs__navigation::after {
  content: "";
  position: absolute;
  max-width: 106.25rem;
  bottom: 0.9375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}
.tabs__navigation-title {
  font-family: "IgraSans";
  font-size: 2.625rem;
  line-height: 1;
  display: grid;
  justify-items: center;
  row-gap: 1.3125rem;
  transition: all 0.3s ease 0s;
}
@media (min-width: 120em) {
  .tabs__navigation-title {
    font-size: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 120em) {
  .tabs__navigation-title {
    font-size: clamp( 1.125rem , 0.825rem  +  1.5vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  .tabs__navigation-title {
    font-size: 1.125rem;
  }
}
.tabs__navigation-title span {
  content: "";
  position: relative;
  transition: all 0.3s ease 0s;
}
.tabs__navigation-title span::before {
  content: "";
  display: block;
  position: relative;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.tabs__navigation-title span::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  background-color: #26201D;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease 0s;
}
.tabs__navigation-title._tab-active {
  color: var(--accent-color);
}
.tabs__navigation-title._tab-active span::before {
  background-color: var(--accent-color);
}
.tabs__navigation-title._tab-active span::after {
  transform: translate(-50%, -50%) scale(1);
}

.visit-village {
  padding-top: 3.125rem;
  padding-bottom: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .visit-village {
    padding-top: 6.25rem;
    padding-bottom: 7.1875rem;
  }
}
@media (min-width: 110em) {
  .visit-village__container {
    max-width: 95.125rem;
    position: relative;
    transform: translateX(-7.25rem);
  }
}
.visit-village__row {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 61.99875em) {
  .visit-village__row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.25rem;
  }
}
.visit-village__image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .visit-village__image {
    flex: 0 0 52.4193548387%;
  }
}
@media (min-width: 82.5em) {
  .visit-village__image {
    flex: 0 0 58.9356110381%;
  }
}
.visit-village__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visit-village__body {
  margin-bottom: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .visit-village__body {
    margin-bottom: 0;
  }
}
@media (min-width: 82.5em) {
  .visit-village__body {
    flex: 0 0 34.3626806833%;
  }
}
.visit-village__title {
  margin-bottom: 2.5rem;
}
.visit-village__text {
  margin-bottom: 2.3125rem;
}
.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
  align-items: center;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
